<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bitte bestätige deine E-Mail-Adresse</title>
  <style>
    body {
      font-size: 21px;
      color: #4A5568;
    }
    h1 {
      font-size: 42px;
      color: #718096;
    }
    p {
      margin: 0;
    }
    .small {
      font-size: 14px;
      color: #718096;
    }
    .btn {
      display: block;
      width: 100%;
      max-width: 320px;
      height: 40px;
      border-radius: 12px;
      background: linear-gradient(95deg, #319795 0%, #3182CE 100%);
      font-size: 15px;
      line-height: 40px;
      color: #E6FFFA;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
    hr {
      height: 1px;
      color: #CBD5E0;
      background-color: #CBD5E0;
      border: none;
    }
    .mb-md {
      margin-bottom: 20px;
    }
    .mb-lg {
      margin-bottom: 32px;
    }
    .mb-xl {
      margin-bottom: 36px;
    }
  </style>
</head>

<body>
  <h1 class="mb-xl">tomisha</h1>

  <p class="message mb-md">
    Hallo {{firstName}} {{lastName}},
    <br />
    <br />
    herzlich willkommen bei Tomisha! Schön, dass du da bist.<br />
    Um loslegen zu können, musst du zuerst deine E-Mail-Adresse bestätigen.<br />
    Klick bitte auf den folgenden Link, um deine Anmeldung zu vervollständigen:
  </p>

  <a href="{{tokenUrl}}" target="_blank" class="btn mb-lg">
    E-Mail-Adresse bestätigne
  </a>

  <p>oder füge ihn in dein Browser ein:</p>
  <a href="{{tokenUrl}}" target="_blank" class="small mb-md">{{tokenUrl}}</a>

  <p class="mb-xl">Dieser Link ist nur in den nächsten {{expHours}} Stunden gültig.</p>

  <p class="sender mb-md">
    Danke!<br />
    Dein Tomisha-Team
  </p>

  <hr class="mb-md">

  <p class="small">
    Copyright © 2020 Tomisha. Alle Rechte vorbehalten.
    <br />
    <br />
    Mit ❤ von Tomisha versendet<br />
    Tomisha, Thomas Hungerbühler,<br />
    Brühlbergstrasse 11, 8400 Winterthur, Schweiz
  </p>
</body>
</html>